<!DOCTYPE html>
<html>
  <head>
    <title>JsonbCollections</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Simple Blog</h1>
    <p><em>Post comments are embedded into Posts!</em></p>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
